ul.page-tabs li {
	display: inline-block;
	font-size: 12px;
	border: 1px solid black;
	padding: 10px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

ul.page-tabs li a {
	color: black;
}

ul.page-tabs {
	height: 60px;
	text-align: center;
}

.page-content {
	padding: 20px;
	height: 200px;
	margin-top: 30px;
}

.react {
	background-color: pink;
}

.react2 {
	background-color: #FB6464;
}

.padded {
	padding: 15px;
}

.backbone {
	background-color: #E4EEEE;
}

header.app-header {
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
}

footer.app-footer {
	margin: 30px;
	text-align: center;
}

html, body {
	font-family: Helvetica;
}

body {
	margin: 30px;
}
