<nav>
	<ul class="page-tabs">
		<li><a href="javascript:;" data­-tab="page1">{{page1}}</a></li>
		<li><a href="javascript:;" data­-tab="page2">{{page2}}</a></li>
		<li><a href="javascript:;" data­-tab="page3">{{page3}}</a></li>
	</ul>
</nav>
